<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Dvdam_Core::dvdam" title="Dvdam Extensions" sortOrder="70">
                    <resource id="Dvdam_Core::documentation" title="Documentations" sortOrder="70">
                        <resource id="Dvdam_Core::devguide" title="Dev Magento Guides" sortOrder="70"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
